*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #d16ba5, #bc70b6, #a176c3, #807cca, #5a81cb, #4787ce, #308dd0, #0192d1, #019cdc, #01a6e7, #01b0f1, #00bafc);
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px 60px;
    background-color:rgba(198, 203, 228, 0.81) ;
    backdrop-filter: blur(10px);
}


h2{
    font-size: 3em;
    color: #da3894;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset{
    padding: 15px 20px;
    color: #fff;
    background-color: #d16ba5;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus{
    color: #fff;
    background-color: #da3894;
}

.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}


.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: #fff;
    transform: rotateY(180deg);
    transition: 0.25s;
    cursor: pointer;

}

.item.boxOpen{
    transform: rotateY(0deg);

}

.item::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #0085C3;
/*     opacity: 0.85;
 */    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;

}

.boxOpen::after,
.boxMatch::after
{
    transform: rotateY(180deg);

}


/* =======================MOdal ==================== */

.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed; /* Permite que el modal se superponga sobre el contenido existente */
    z-index: 1; /* Asegura que el modal esté en la parte superior */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Añade un desplazamiento si el contenido del modal es más grande que la pantalla */
    background-color: rgba(0,0,0,0.6); /* Fondo oscuro para resaltar el modal */
  }
  
  /* Estilo del contenido del modal */
  .modal-content {
    background-color: #da3894b7;
    margin: 20% auto; /* Centra el modal verticalmente y lo separa del borde superior de la pantalla */
    padding: 30px;
    border: 1px solid #888;
    border-radius: 2rem;
    width: 400px;
    height: 100px; /* Ajusta el ancho del contenido del modal */
  }

  .modal-content p{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: .2em;
    color: #f0f1fa;
  }
  
  /* Estilo del botón de cierre */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  @media (max-width:600px) {
  
   .container {
      padding:20px ;
   }

   h2{
     font-size :1.5em ; 
   }

   .reset{
     font-size :1em ; 
     padding :10px ; 
   }

   .game{
     width :80% ; 
     height :80% ; 
   }

   .item{
     width :20% ; 
     height :20% ; 
     font-size :2em ; 
   }

   .modal-content{
     margin-top:50% ; 
     width :80% ;
   }

   .modal-content p{
     font-size :1.5em ; 
   }

}